body{
	font-family: "Intro Regular";
}
@media only screen and (min-width: 1900px){	
.adaptive{
	width:100%;
	margin: 0px auto;
}	
.header_logo {
    font-size: 35px;
}
.left h1{
	margin-top: 8%;
	margin-right: 3.3%;
	font-size: 3.6em;
	letter-spacing: 2.5px;
}
.left p{
	margin-top: 8%;
	margin-right: 0px;
	font-size: 1.5em;
	letter-spacing: 2px;
}
/*.right h1{
	font-size: 2.2em;
	margin-left: 4%;
}*/
.topnav a {
    font-size: 26px;
}
.card {
  width: 16%;
}
.gray-block p{
	font-size: 1.8em;
}
.service-list{
  font-size: 1.1em;
}
.project_left p {
  font-size: 2em;
  letter-spacing: 0.8px;
  text-indent: 25px;
  line-height: 1.4275em;
}
.footer {
	height: 295px;
    padding: 30px 0;  
}
.container {
    margin: 0 auto; 
    padding: 55px 0 0 0; 
}
.footer-logo img {
    width: 150px; 
}
.contact-info h3, .contact-form h3 {
    font-size: 30px; 
    margin-bottom: 15px; 
}
.contact-info p {
    font-size: 16px; 
}
.input-container {
    margin-bottom: 21px; /* Внутренний отступ снизу между полями */
}
.input-field {
    font-size: 18px; /* Размер текста в полях ввода */
}
.submit-button {
    font-size: 17px; /* Размер текста на кнопке */
}
}
@media only screen and (max-width: 1820px) {
	.project_left p {
  font-size: 1.8em;
  letter-spacing: 0.8px;
  text-indent: 25px;
  line-height: 1.4275em;
  }
}
@media only screen and (max-width: 1715px){
.gray-block p{
	font-size: 1.6em;
}
.service-list{
  font-size: 1em;
}
.card {
	width: 16%; 
}
}
@media (min-width: 990px) and (max-width: 1440px){
.header_logo {
 	font-size: 33px;
 }
.topnav a {
    font-size: 25px;
}
.left h1{
	margin-top: 8%;
	margin-right: 2.9%;
	font-size: 1.5em;
	letter-spacing: 2.5px;
}
.left p{
	margin-top: 8%;
	margin-right: 0px;
	font-size: 1em;
	font-weight: bolder;
	letter-spacing: 2px;
}
.card {
  width: 15%;
}
.gray-block p{
	font-size: 1.1em;
}
.service-list{
  font-size: 0.8em;
}
.project_left p {
  font-size: 1.25em;
  text-indent: 0px;
}
/**/
.services{
	padding-top: 1.5%;
}
.title {
    font-size: 2.3em;

 }
 .inscription{
 	font-size: 0.8em;
 }
 
.footer {
	height: 245px;
    padding: 30px 0;  
}
.container {
    margin: 0 auto; 
    padding: 26px 0 0 0; 
}
.footer-logo img {
    width: 120px; 
}
.contact-info h3, .contact-form h3 {
    font-size: 20px; 
    margin-bottom: 12px; 
}
.contact-info p {
    font-size: 15.5px;
    line-height: 2; 
}
.input-container {
   margin-bottom: 20px; /* Внутренний отступ снизу между полями */
}
.input-field {
    font-size: 17px; /* Размер текста в полях ввода */
}
.submit-button {
    font-size: 16px; /* Размер текста на кнопке */
}
}
@media only screen and (min-width: 1247px){
.adaptive{
	width: 100%;
	margin: 0px auto;
}
}


